/* Layout */
.outerwrap {
    text-align: center;
    background-color: #0a3000;
}

.contentwrap {
    border-width: 1em;
    display: inline-block;
    background-color: #8b0000;
    width: 820px;
    color: ghostwhite;
}

/*
  Navigation buttons that look and act like buttons,

*/
a.nav_btn, a.arrow_btn {
    display: inline-block;
    text-align: center;
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
    color: #CAD;
    padding: 1em;
    margin: 5pt;
    background-color: #0a3000;
    border: 3pt outset #011100;
    border-radius: 1em;
    box-shadow: 3px 3px 5px rgb(242, 105, 46);
}

a:hover.nav_btn, a:hover.arrow_btn  {
    background-color: #118000;
    color: #ECF;
}